/* Reset style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif ;
}
.section_style{
    height: 500px;
    display: inline-block;
    overflow: hidden;
}
/* Common css style  */
.link_button{
    padding: 12px 30px;
    margin-top: 10px;
    background: linear-gradient( 45deg, #0befc7, #4189fe);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
}
.hero_area  .title_style{
    color: #0cedc8;
    font-size: 60px;
}
.title_style{
    color: #0cedc8;
}
.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.section_title{
    text-align: left;
    margin: 15px 0px;
    overflow: hidden;
}
/* heading start here  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/* Heading section style  */
.hero_area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 70px;
    margin: initial;
    margin-top: 50px;
}

.half_width p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.half_width img{
    width: 100%;;
}

/* Dream section style  */
.dream_area{
    background-image: #ddd url(images/dream-bg-blue.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.social_link h4{
    margin: 10px 0px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
}
ul li a{
    color: #4189fe;
    text-decoration: none;
}

/* portfolio section style   */
.portfolios{
    height: 100%;
}
.portfolio_area .section_title h1{
    border-left: 100px solid #4189fe;
    padding-left: 20px;
}
.single_portfolio{
    width: 33.33333333333333%;
    float: left;
    height: 100%;
}
.single_portfolio img{
    width: 100%;
    height: 100%;
}

/* experience section style  */
.experience_area .section_title h1{
    border-left: 100px solid #0befc7;
    padding-left: 20px;
}
.experience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.single_experience{
    box-shadow: 10px 10px 40px #ddd;
    background: #fff;
    height: 60%;
    padding-top: 20px;
}
#full_Stack{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby_web{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, #0befc7, #4189fe);
    border-image-slice: 1;
}

/* footer section style  */
footer p{
    text-align: center;
    font-size: 14px;
}